html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro';
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #404040;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: white;
    padding: 2em 0;
}

h2 {
    font-size: 1.35rem;
}

h3 {
    font-size: 1.1rem;
}

header {
    background-image: url(../img/dark-ribs_s.jpg);
    background-color: #404040;
    background-position: center;
    background-size: cover;
}

button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: .65em;
    border: 0;
    margin-bottom: 1.5em;
    background-color: #F18119;
    background-image: linear-gradient(to left, #FF713B, #FFA51D);
    transform: scale(1);
    transition: transform 0.2s;
}

abbr {
    text-decoration: none;
}

button:hover {
    transform: scale(1.02);
}

button:active {
    background-image: linear-gradient(to left, green, green);
}

input {
    font-family: inherit;
    font-size: 1rem;
    text-align: inherit;
    padding: .5em;
    border: 1px solid #404040;
    margin-bottom: .75em;
    transform: scale(1);
    transition: transform 0.2s;
}

input:focus {
    transform: scale(1.02);
}

form {
    width: 80%;
    max-width: 20rem;
    margin: 0 auto;
}

form > * {
    width: 100%;
    border-radius: 7px;
}

main {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.main-title {
    margin-bottom: 0;
}

.main-text {
    margin-bottom: 1.5em;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.container-main {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-header {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-top-text {
    font-size: 0.8rem;
    font-weight: 900;
    padding-top: 3px;
    border-top: 6px solid #F18119;
    border-image: linear-gradient(to left, #FF713B, #FFA51D) 1;
    margin-top: 0;
    order: -1;
}

.main-confidential {
    font-size: .8rem;
    max-width: 15rem;
    margin: 0 auto;
}

.header-top-text,
.main-confidential {
    letter-spacing: 1px;
}

.main-register-heading,
.header-invitation,
.header-top-text {
    text-transform: uppercase;
    color: #F18119;
}

.main-register-heading {
    margin-top: 0;
}

.header-invitation {
    margin-bottom: 2em;
    word-spacing: 1px;
}

@media screen and (min-width: 30rem) {
    html {
        font-size: 115%;
    }

    header {
        background-image: url(../img/dark-ribs.jpg);
    }
}

@media screen and (min-width: 55rem) {
    body {
        min-height: 100vh;
        flex-direction: row;
        align-content: stretch;
    }

    h1 {
        font-size: 3rem;
        padding: 1em 0;
        margin: 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    header {
        width: 55%;
    }

    main {
        width: 45%;
    }

    .container {
        height: 100%;
    }

    .header-invitation {
        margin-top: 0;
    }

    .header-top-text,
    .header-invitation {
        margin-bottom: auto;
    }
}
